<!DOCTYPE html>
<html lang="<%= view.current.lang %>">
    <head>
        <title><%= view.current.title %></title>
        <% for(obj in view.current.meta) { %><% if(obj == "charset") { %><meta charset="<%= view.current.meta[obj] %>">  <% } else { %><meta name="<%= obj %>" content="<%= view.current.meta[obj] %>"> <% } %>
        <% } %>
        <% for(obj in view.current.og) { %><meta property="og:<%= obj %>" content="<%= view.current.og[obj] %>" >
        <% } %>
        <% for(obj in view.current.cards) { %><meta property="cards:<%= obj %>" content="<%= view.current.cards[obj] %>" >
        <% } %>
        <% if(view.current.mainJSON) {
            view.mainViewJSON.css.forEach(function(css) { %>
        <link rel="stylesheet" type="text/css" href="<%= css %>">
            <% })
            view.mainViewJSON.js.forEach(function(js) { %>
        <script  type="text/javascript" src="<%= js %>"></script>
            <% })
            view.mainViewJSON.fonts.forEach(function(font) { %>
        <link href="<%= font %>" rel="stylesheet">
            <% })
        } %>
        <% view.current.css.forEach(function(obj) { %><link rel="stylesheet" type="text/css" href="<%= obj %>">
        <% }) %>
        <% view.current.fonts.forEach(function(obj) { %><link href="<%= obj %>" rel="stylesheet"><% }) %>
        <% view.current.js.forEach(function(obj) { %><script type="text/javascript" src="<%= obj %>"></script><% }) %>
    </head>
    <body>
    <% if(view.current.mainHeader) { %><%- include("../headers/main.ejs") %><% } %><% view.current.files.headers.forEach(function(obj) { %><%- include("../headers/" + obj + ".ejs")%><% }) %><% view.current.files.filesToInclude.forEach(function(obj) { %><%- include("../filesToInclude/" + obj + ".ejs")%><% }) %>
